@import "vars";
@import "global";
@import "fonts";

//start header

.header__top-inner{
  display: flex;
  justify-content: space-between;
  height: 91px;
  align-items: center;
}
.header__text{
margin-left: auto;
margin-right: 50px;
  span{
    color: $orange;
  }
}
.header__btn{
  display: inline-block;
  padding: 4px;
  width: 72px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  color: #fff;
}
.header__btn-login{
  background-color: $green;
}
.header__btn-register{
  margin-left: 7px;
  background-color: $orange;
}
.header__menu{
  background-color: $bg;
}
.menu{
  height: 60px;
  display: flex;
  align-items: center;
}
.menu__list{
  li{
    display: inline-block;
      & + li{
        margin-left: 30px;
      }
    }
  a{
    font-size: 14px;
    color: #fff;
    }
}

//end header
//start search

.search{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.search__inner{
  color: #fff;
  text-align: center;
}
.search{
  &__title{
    font-size: 48px;
    @include f700;
    line-height: 50px;
  }
  &__text{
    @include f500;
    font-size: 20px;
  }
  &__form{
    position: relative;
    max-width: 670px;
    margin: 0 auto;
    input{
      display: block;
      width: 100%;
      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      border-radius: 4px;
      padding: 0 60px 0 25px;
      height: 56px;
      border: none;
      font-size: 14px;
      @include f500;
      &::placeholder{
        color: #90a4ae;
        @include f500;
      }
    }
    button{
      position: absolute;
      border: none;
      background-color: transparent;
      top: 17px;
      right: 20px;
      cursor: pointer;
    }
  }
}

.home__search{
  &-title{
    margin-bottom: 35px;
  }
  &-inner{
    min-height: 533px;
    padding: 135px 0 100px;
  }
  &-text{margin-bottom: 50px;
  }
}
.inner-btn{
  margin-bottom: 10px;
}

//end search
//start products

.products{
padding: 110px 0;
background-color: $grey;
}
.products__inner-btn{
  text-align: center;
  margin-bottom: 60px;
  button{
    &.mixitup-control-active{
      background-color: $orange;
      color: #fff;
      outline: none;
    }
    padding: 12px 20px;
    border: none;
    background-color: #fff;
    color: $bg;
    cursor: pointer;
    & + button{
      margin-left: 5px;
    }
  }
}
.product-home__item{
    max-width: 442px;
    margin-bottom: 30px;
    &-img{
    min-height: 250px;
    }
    &-content{
    padding: 10px 30px;
    }
    &-info{
    padding: 10px 30px;
    }
}

.product__item{
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  &-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
  }
  &-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
    border-bottom: 1px solid #e7ecf2;
    background-color: #fff;
  }
  &-name{
    max-width: 310px;
  }
  &-title{
    color: $bg;
    line-height: 35px;
    display: block;
    font-size: 18px;
    @include f500;
  } 
  &-category{
    font-size: 14px;
    display: block;
    color: $green;
  }
  &-price{
    margin-left: 10px;
    color: $bg;
    @include f700;
  }
  &-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    background-color: #fff;
  }
  &-author{
    font-size: 14px;
    display: flex;
    align-items: center;
    max-width: 245px;
    .avatar{
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 14px;
    }
    span{
      font-size: 14px;
      @include f500;
    }
  }
  &-star{
    margin-left: 10px;
    span{
      color: $bg;
      font-size: 12px;
    }
  }
}
.products__inner-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.products__bottom-btn{
  text-align: center;
  button{
    margin: 45px 5px 0;
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    border: none;
    padding: 20px 30px;
    color: $bg;
    cursor: pointer;
    } 
  }

//end product
//start product-slider
.product-slider{
  padding: 120px 0;
  .slick-dots{
    text-align: center;
    margin-top: 50px;
    li{
      display: inline-block;
      margin: 3px;
      &.slick-active{
        button{
        background-color: #8bc34a;}
      }
      button{
        border-radius: 50%;
        border: #b1b1b1 solid 1px;
        background-color: #e8e8e8;
        font-size: 0;
        width: 16px;
        height: 16px;
        outline: none;
        cursor: pointer;
        .slick-active{
        background-color: #8bc34a;
        }
      }
    }
    
  }
}
// end product-slider
// start advantages
.advantages{
background-color: $bg;
padding: 110px 0;
}
.advantages__title{
  color: #fff;
}
.advantages__inner{
  display: flex;
  justify-content: center;
}
.advantages_item{
  max-width: 370px;
  text-align: center;
  padding: 0 15px;
  &:hover{
    .advantages_item-images{
      transition: all .5s;
      background-color: $green;
    }
    .advantages_item-title{
      transition: all .3s;
      color: $green;
    }
    .advantages_item-images{
      g{
        transition: all .5s;
        fill: #fff;
      }
    }
  }
  &-images{
    width: 114px;
    height: 114px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
  }
  &-title{
    font-size: 24px;
    color: #fff;
    @include f500;
    margin-bottom: 35px;
  }
  &-text{
    font-size: 15px;
    @include f500;
  }
}
// end advantages
//start author
.author{
  min-height: 750px;
  background: no-repeat top/cover url(../images/author-bg.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  &__box{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $green;
  max-width: 650px;
  min-height: 215px;
  color: #fff;
  }
  &__title{
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    margin-left: 60px;
    margin-right: 45px;
    min-width: 260px;
    span{
      @include f700;
    }
  }
  &__link{
    font-size: 18px;
    line-height: 36px;
    background-color: #fff;
    padding: 14px 40px;
    margin-right: 60px;
    white-space: nowrap;
    color: $bg;
    @include f500;
  }
}
// end author
// start tutorial
.tutorial{
  padding: 60px 0 120px;
  &__title{
    font-size: 36px;
    @include f700;
    text-align: center;
    margin-bottom: 60px;
  }
  &__inner{
  display: flex;
  justify-content: space-between;
  }
  &__item{
  max-width: 370px;
  width: 100%;
  }
}
.tutorial__item{
  margin:0 15px;
  &-images{
    min-height: 270px;
    background: center/cover no-repeat;
  }
  &-name{
    text-align: center;
    background-color: #f8f8f8;
    font-size: 24px;
    @include f700;
    color: $bg;
    padding: 30px 10px;
  }
}
// end tutorial
//start footer
.footer{
  background-color: $bg;
  &__copy{
  border-top: #424d53 1px solid;
  text-align: center;
  padding: 25px 0 20px;
  line-height: 36px;
  }
}
.footer__inner{
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
  flex-wrap: wrap;
}
.footer__col{
  flex: 0 0 270px;
  padding-top: 10px;
  color: #b7c3c8;
  &-title{
    position: relative;
    font: 700 22px/24px 'Raleway' ,sans-serif;
    color: #fff;
    padding-bottom:25px ;
    margin-bottom: 30px;
    &::after{
      content: '';
      position: absolute;
      width: 50px;
      height: 3px;
      background-color: $green;
      left: 2px;
      bottom: 0;
    }
  }
  &-text{
    margin-bottom: 35px;
  }
}
.footer__info{
  padding-left: 30px;
  margin-bottom: 15px;
  font: 600 14px/24px 'Lato', sans-serif;
  color: #fff;
  position: relative;
  &::before{
    content: "\e917";
    font-family: 'icomoon';
    color: $green;
    font-size: 18px;
    position: absolute;
    left: 0;
  }
}
.footer__info-phone{
  &::before{
    content: "\e915";
    font-family: 'icomoon';
    color: $green;
    font-size: 18px;
    position: absolute;
    left: 0;
  }

}
.footer__col-list{
  a{
    position: relative;
    padding-left: 20px;
      &::before{
        content: "\e918";
        font-family: 'icomoon';
        font-size: 16px;
        color: $green;
        position: absolute;
        left: 0;
      }
    }
  li{
    margin-bottom: 12px;
  }
}
.footer__social-link {
  margin-bottom: 27px;
  li{ display: inline-block;
    & + li{
    margin-left: 7px;
    }
  }
  a{display: inline-block;
    width: 28px;
    height: 28px;
    background: url('../images/content/css_sprites.png');
    background-repeat: no-repeat;
  }
  .link-facebook{
  background-position: -0px -0;
  }
  .link-twitter{
    background-position: -28px -0;
  }
  .link-youtube{
    background-position: -56px -0; 
  }
  .link-pinterest{
    background-position: -84px -0;
  }
  .link-linkedin{
    background-position: -112px -0;
  }
}
.form-title{
  font-size: 20px;
  line-height: 36px;
  color: #fff;
  margin-bottom: 10px;
}
.footer__col-form{
  position: relative;  
  input{
    box-shadow:  0px 1px 1px 1px rgba(0, 0, 0, 0.6) inset;
    border: none;
    height: 40px;
    width: 100%;
    background-color: #2f3c43;
    color: #fff;
    font-size: 14px;
    padding:0 16px;
    outline: none;
  } 
  button{
    position: absolute;
    background-color: $green;
    border: none;
    height: 38px;
    width: 40px;
    right: 2px;
    bottom: 0;
    cursor: pointer;
    &::before{
      position: absolute;
      font-family: 'icomoon';
      content: "\e914";
      font-size: 18px;
      color: #fff;
      left: 13px;
      top: 9px;
      } 
    }
}
// end footer

//start new item
.new__search{
  &-inner{
    padding: 55px 0;
    min-height: 230px;
  }
  &-text{
    margin-bottom: 25px;
  }
}

.breadcrumbs{
  background-color: $grey;
  padding: 45px 0;
  &__inner{}
  &__list li{
  display: inline-block;
  }
  a::after{
    content:"-";
    color: $green;
    margin-left:6px
  }
  span{
    color: $bg;
  }
}
//start main
.main{
  background-color: $grey;
}
.container{
  &-aside{
    margin-right: 30px;
    max-width: 270px;
  }
  &-main{
    display: flex;
    justify-content: space-between;
  }
  &-sort{
    width: 870px;
  }
}
.aside__item{
  border: 1px solid #dcdcdc;
  background-color: #fff;
  padding: 20px 30px 30px 25px;
  margin-bottom: 30px;
}

.product-aside__item{
  margin-bottom: 20px;  
  box-shadow: none;
  &+.product-aside__item{
    padding-top: 30px;
    border-top:1px solid #dcdcdc;
  }
  &-img{
  min-height: 120px;
  }
  &-content{
    border-bottom: none;
    min-height: 75px;
  }
  &-info{
    display: block;
  min-height: 50px;}
}

.subtittle__aside{
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 20px;
  margin-bottom: 25px;
}
.categories__list{ 
  margin-left: 10px;
  li{
    padding-left: 10px;
    list-style-image: url(../images/arrow-r.svg);
  }
  & a{
    color: $bg;
    }
}
.seller__list{
  margin-bottom: 110px;
}
.sort-items__title{
  min-height: 60px;
  max-width: 870px;
  background-color: #ffffff;
  padding: 18px;
  border: 1px solid  #dcdcdc;
  margin-bottom: 30px;
}
.product-main__item{
    max-width: 270px;
    margin-bottom: 30px;
    &-img{
    min-height: 180px;
    }
    &-content{
    padding: 10px 20px;
    }
    &-info{
    padding: 10px 30px;
    }
}
.grid{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
// start price range
.irs--flat .irs-max, .irs--flat .irs-min{
  display: none;
}
.irs--flat .irs-line{
  height: 5px;
  background-color: #f2f5f8;
}
.irs--flat .irs-handle{
  width: 16px;
  height: 16px;
  border: 4px solid $green;
  border-radius: 50%;
  top: 19px;
  background-color: #fff;
}
.irs--flat .irs-handle>i:first-child{
  display: none;
}
.irs--flat .irs-bar{
  height: 5px;
  background-color: $bg;
}
.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to{
  font-size: 16px;
  color: $text;
  top: 40px;
  background-color: transparent;
}
.irs--flat .irs-from:before, .irs--flat .irs-single:before, .irs--flat .irs-to:before{
  display: none;
}
.irs--flat{
  margin-top: -5px;
  margin-bottom: 30px;
}
// end price range

// end main







//end new item