@import "vars";
@import "global";
@import "fonts";

//start header

.header__top-inner{
  display: flex;
  justify-content: space-between;
  height: 91px;
  align-items: center;
}
.header__text{
margin-left: auto;
margin-right: 50px;
  span{
    color: $orange;
  }
}
.header__btn{
  display: inline-block;
  padding: 4px;
  width: 72px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  color: #fff;
}
.header__btn-login{
  background-color: $green;
}
.header__btn-register{
  margin-left: 7px;
  background-color: $orange;
}
.header__menu{
  background-color: $bg;
}
.menu{
  height: 60px;
  display: flex;
  align-items: center;
}
.menu__list{
  li{
    display: inline-block;
      & + li{
        margin-left: 30px;
      }
    }
  a{
    font-size: 14px;
    color: #fff;
    }
}

//end header
//start search

.search{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 533px;
}
.search__inner{
  padding: 135px 0 100px;
  color: #fff;
  text-align: center;
  &-title{
    margin-bottom: 35px;
    font-size: 48px;
    @include f700;
  }
  &-text{
    margin-bottom: 50px;
    @include f500;
    font-size: 20px;
  }
  &-form{
    position: relative;
    max-width: 670px;
    margin: 0 auto;
    input{
      display: block;
      width: 100%;
      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      border-radius: 4px;
      padding: 0 60px 0 25px;
      height: 56px;
      border: none;
      font-size: 14px;
      @include f500;
      &::placeholder{
        color: #90a4ae;
        @include f500;
      }
    }
    button{
      position: absolute;
      border: none;
      background-color: transparent;
      top: 17px;
      right: 20px;
    }
  }
}

//end search
//start products

.products{
padding: 110px 0;
background-color: $grey;
}
.products__inner-btn{
  text-align: center;
  margin-bottom: 60px;
  button{
    &.mixitup-control-active{
      background-color: $orange;
      color: #fff;
      outline: none;
    }
    padding: 12px 20px;
    border: none;
    background-color: #fff;
    color: $bg;
    cursor: pointer;
    & + button{
      margin-left: 5px;
    }
  }
}
.product__item{
  max-width: 442px;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  margin-bottom: 30px;
  &-img{
    min-height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
  }
  &-content{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    min-height: 90px;
    border-bottom: 1px solid #e7ecf2;
  }
  &-name{
    max-width: 310px;
  }
  &-title{
    color: $bg;
    line-height: 35px;
    display: block;
    font-size: 18px;
    @include f500;
  } 
  &-category{
    font-size: 14px;
    display: block;
    color: $green;
  }
  &-price{
    color: $bg;
    @include f700;
  }
  &-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px 30px;
  }
  &-author{
    font-size: 14px;
    display: flex;
    align-items: center;
    max-width: 245px;
    .avatar{
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 14px;
    }
    span{
      font-size: 14px;
      @include f500;
    }
  }
  &-star{
    span{
      color: $bg;
      font-size: 12px;
    }
  }
}
.products__inner-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.products__bottom-btn{
  text-align: center;
  button{
    margin: 45px 5px 0;
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    border: none;
    padding: 20px 30px;
    color: $bg;
    cursor: pointer;
    } 
  }

//end product
//start product-slider
.product-slider{
  padding: 120px 0;
  .slick-dots{
    text-align: center;
    margin-top: 50px;
    li{
      display: inline-block;
      margin: 3px;
      &.slick-active{
        button{
        background-color: #8bc34a;}
      }
      button{
        border-radius: 50%;
        border: #b1b1b1 solid 1px;
        background-color: #e8e8e8;
        font-size: 0;
        width: 16px;
        height: 16px;
        outline: none;
        cursor: pointer;
        .slick-active{
        background-color: #8bc34a;
        }
      }
    }
    
  }
}
// end product-slider
// start advantages
.advantages{
background-color: $bg;
padding: 110px 0;
}
.advantages__title{
  color: #fff;
}
.advantages__inner{
  display: flex;
  justify-content: center;
}
.advantages_item{
  max-width: 370px;
  text-align: center;
  padding: 0 15px;
  &:hover{
    .advantages_item-images{
      transition: all .5s;
      background-color: $green;
    }
    .advantages_item-title{
      transition: all .3s;
      color: $green;
    }
    .advantages_item-images{
      g{
        transition: all .5s;
        fill: #fff;
      }
  }
  &-images{
    width: 114px;
    height: 114px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
  }
  &-title{
    font-size: 24px;
    color: #fff;
    @include f500;
    margin-bottom: 35px;
  }
  &-text{
    font-size: 15px;
    @include f500;
  }
}
// advantages_item-images
// advantages_item-title
// advantages_item-text
// end advantages